.App {
  font-family: sans-serif;
  text-align: center;
}

.animal-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  max-width: 345px;
  margin: 10px;
  flex: 1 1 200px;
}
